.positionMenu {
  @apply relative z-50;
}

.burger {
  @apply lg:hidden float-right -ml-2;
}
.menu {
  @apply absolute top-16 -right-full transition-all ease-in-out duration-200 mb-5
  lg:top-0 lg:relative lg:right-0 lg:grid gap-2 lg:grid-cols-6 z-40;
  li {
    list-style-type: none;
    @apply h-full;
    &:hover {
      
      &:has(> ul) {
        @apply lg:rounded-b-none;
      }
      .subMenu {
        @apply opacity-100 visible;
        li {
          @apply lg:first:rounded-t-none;
          &:hover {
            &:has(> ul) {
              @apply last:rounded-b-none lg:last:rounded-b-lg;
            }
            .subMenuV2 {
              @apply opacity-100 visible;
            }
          }
        }
      }
    }
    @apply rounded-lg py-2 px-4 bg-gray
    mb-1 lg:mb-0 uppercase font-bold flex relative
    items-center justify-between cursor-pointer transition-all duration-300 ease-in-out  
    hover:bg-black hover:bg-opacity-95 lg:hover:bg-light-gray lg:bg-opacity-100;
    .subMenu {
      @apply invisible opacity-0 absolute left-0 top-11 lg:top-10 w-full transition-all ease-in-out duration-300 z-50;
      li {
        @apply px-2 mb-0 rounded-none first:rounded-t-lg last:rounded-b-lg font-normal normal-case hover:bg-light-gray 
        border-solid border-b border-black last:border-none;
        i {
          @apply 2xl:-rotate-90;
        }
        .subMenuV2 {
          @apply invisible opacity-0 absolute lg:top-0 w-full z-50 right-0 lg:right-[-180px] 
          min-[1230px]:right-[-190px] min-[1300px]:right-[-200px] 
          min-[1350px]:right-[-210px] min-[1400px]:right-[-225px] 
          2xl:right-[-230px] h-64 lg:h-max overflow-y-scroll lg:overflow-hidden;
          li {
            @apply rounded-none lg:first:rounded-t-lg last:rounded-b-lg hover:last:rounded-b-lg h-max;
          }
        }
      }
    }
  }
}
